.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-centered-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.custom-multiselect ~ .select2-container--default .select2-selection--multiple {
    height: fit-content !important;
    padding: 5px 16px !important;
}

.custom-multiselect ~ .select2-container.select2-container--default.select2-container--open .select2-selection__rendered {
    border: 0px solid #1b55e2 !important;
}

.required-input {
    color: red;
    font-weight: bolder;
}

#userSidebar {
    white-space: normal;
}

.my-icon-hover:hover {
    cursor: pointer;
    color: #4d4d4d;
}
