.task-card:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.modal-default {
    max-width: 560px !important;
}

.task-card {
    min-height: 27vh;
    max-height: 27vh;
    overflow: hidden;
}

.task-price {
    font-size: 1.5rem;
    bottom: 5%;
    left: 50%;
}

.change-card {
    border-radius: 70%;
    background-color: #0a58ca;
    padding: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 3%;
}

.resource-card {
    min-height: 28vh;
    max-height: 28vh;
    overflow: hidden;
}

.resource-card:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.task-attachments {
    gap: 1rem;
}

.select2-container--default .select2-selection--multiple li.select2-selection__choice {
    color: #0a0e14 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #80bdff !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
}
